:root {
	// Background
	--background-main: #13161a;
	--background-main-80: rgb(19 22 26 / 80%);
	--background-main-40: rgb(19 22 26 / 40%);

	--background-secondary: #181b1f;
	--background-secondary-0: rgb(24 27 31 / 0%);

	--background-cards: #1d2024;
	--background-cards-0: rgb(29 32 36 / 0%);

	// Brand and status colors
	--colors-primary: #2ea6ff;
	--color-primary-10: rgb(46 166 255 / 10%);

	--colors-success: #10b981;
	--colors-success-5: rgb(16 185 129 / 5%);

	--colors-error: #ef4444;
	--colors-error-10: rgb(239 68 68 / 10%);

	--colors-orange: #ff9500;
	--colors-gray: #6a717b;
	--colors-light-gray: #a6adb7;
	--colors-white: #ffffff;

	// Lines
	--line-divider: #22262c;
	--line-gray: #6a717b;
}

// .regular {
// 	font-weight: 400;
// }

// .medium {
// 	font-weight: 500;
// }

// .semibold {
// 	font-weight: 600;
// }

// .bold {
// 	font-weight: 700;
// }